.blockchain-width{
    width: 2900px;
    /* width: fit-content; */
    /* overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; */
}

.blockchain{
    /* width: 100%; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.block{
    background-color: rgb(173, 207, 180);
    border-radius: 1rem;
    width: 35rem;
}