.hash-block{
    /* width: 1000px; */
    /* width: 70%; */
    display: flexbox;
}

/* .hashDescription{
    display: inline-block;
} */

.hashInput{
    display: inline;
    height: 150px;
}

.width-setting{
    width: 70%;
}