
/* .hashDescription{
    display: inline-block;
} */

.label-css{
    display: flex;
    align-items: center;
    width: 5rem;
    font-weight: bold;
}

.hashInput{
    /* display: inline; */
    height: 10rem;
}

.width-setting{
    width: 70%;
}

.block{
    background-color: rgb(173, 207, 180);
    border-radius: 1rem;
    width: 35rem;
}

